*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    overflow-x: hidden;
    position: relative;
    height: 130%;
    width: 100%;
    background-color: rgb(44, 32, 32);
}
.nav{
    height: 5vh;
    width: 100vw;
    background-color: blue;
}
.center-image{
    position: absolute;
    top: 15%;
    left: ;
    height: 60vh;
    width: 20vw;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
